body{

    background:#EEEE;

}





.Title{
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 160px;
    font-size: 20px;
    font-weight: bold;
}

.Divone{

    border: 1px solid;
    margin-top: 20px;
    width: 1000px;
    margin-left: 160px;
    height: 500px;
    border-color: grey;
    background-color:white
}

.Divinone {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 350px;
    height: 500px;
}







.Divpassword{

    border-bottom-color:#F0F0F0;
    margin-bottom: 50px;
    border-bottom: 0.5px solid;



}


 .MenuItemstyle{
     color: #8080809e;
     font-size: 20px;



 }
 

  .Divtow{

    float: left;
    width: 500px;
    height: 600px;
    margin-top: 40px;
    margin-left: 40px;
  }

.divpic{

    
    
    float: left;
}

.Divupload{
    margin-left: 30px;
    margin-top: 50px;
}

.upload{

    border-radius: 4px;
    border: 1px solid transparent;
    color: #ffffff;
    border-color: #357ebd;
    background-color: #428bca;
    height: 30px;
    width: 150px;
}

.Divreast
{

    float: left;
    margin-left: 40px;
    
}

.reast{

    border-radius: 4px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
    height: 30px;
    width: 75px;
    
}

.Divallowed{

    clear: both;
    margin-left: 150px;
}

.allowed{


font-size: 12px;
}
 
.divgeneral{

    
    margin-top: 10px;
    clear:left;
    width: 500px;
}


   




.style{

    font-size: 13px;
    font-weight: bolder;
    color: #2b30d0;
    text-decoration-line: underline;
    
}

 
 
    
    
    .divbutton{
        float:right;
        margin-top: 10px;


    
    }
.divcancel{
    background-color: #ffffff;
    float: right;
    color: #333333;
    border-color: #cccccc;
    margin-right: 5PX;
    
}
.divsave{
    float: right;
    margin-right: 5px;
    
    
    
}

.savechange{
    background-color: #428bca;
    
    border: 1px solid transparent;
    border-color: #357ebd;
    color: #ffffff;
    height: 25px;

}
.cancelheight{
    height: 25px;
}


.MenuItem{
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #E6ECF3;

}

.MenuItem:hover{
     background-color:#F0F0F0 ;
}

.actionContainer{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}


.divupload{

    float: left;
}

.divreast{
    
    float: left;
    margin-left: 10px;
    
    
    
    
}
.diva{

    clear: left;
}

.TextConatiner{
    margin-top: 5px;
    width: 500px;
}

.texxtbox{
    
width: 100%;

    height: 20px;
    }
.texxtbox:focus{
    border-color: #66afe9;
    outline: 0;
}

.textbox{

    width: 100%;
    height: 30px;
}




.Diiv{

    margin-top: 10px
}



    


.xxx{

    padding-top: 12px;
    padding-left: 10px;
    background-color: #FFF3CD;
    margin-top: 10px;
}
.yyy{
    padding-top:12px;
    padding-left: 10px;
    background-color:#FFF3cD ;
    
    
}


.divpassword{

    margin-top: 40px;
    margin-left: 400px;
}





.textboxx{

    width: 90%;
    height: 20px;
}

.textboxx:focus {

    border-color: #66afe9;
    outline: 0;
}





     
    

    .divA{
        margin-top: 45px;
    margin-left: 384px;
    }
    
    .divcheckbox{

        margin-left: 10px;
    margin-top: 10px
    }
     .savechangefinal{

        float:right;
        background-color: #428bca;
    
    border: 1px solid transparent;
    border-color: #357ebd;
    color: #ffffff;
    height: 30px;
    margin-top: 10px;

     }
    
     .texttype{

        font-size: 20px;
        font-weight:bold ;
        
    
    }